@model ConciseNoteViewModel

<div class="note">
  <div class="note-content">
    @Model.Content
  </div>
  <div class="note-btn note-priority @Model.Priority.ToLower()" title="Note priority">
    <i class="fa fa-exclamation"></i>&nbsp;@Model.Priority
  </div>
  <div class="note-btn note-reminder" title="Reminder">
    <i class="fa fa-bell-o"></i>&nbsp;
    @if(Model.Reminder.HasValue)
    {
      <span class="reminder-value">@Html.Raw(Model.Reminder.Value.ToString("dd-MM-yyyy"))</span>
    }
    else
    {
      <span class="reminder-value">No reminder</span>
    }
  </div>  
</div>