@{
	ViewBag.Title = "Notty";
}

@Scripts.Render("~/bundles/chartjs")

@section styles {
	<link rel="stylesheet" href="~/css/home.css">
}

@section scripts {
	<script src="~/js/home.js"></script>
}

@if(this.User.Identity.IsAuthenticated)
{
	<div class="recent-notes">
		<div class="add-note-container">
			<input type="text" id="new-note-input">
		</div>
	</div>
}

<br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><b>Stop</b> forgetting.<br /><b>Start</b> nottying!</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="alert alert-primary" style="background: #2780e3;color: white;">
			We <b><span style="color:black">all</span></b> forget. <br> Thats why you can take your notes.
		</div>
	</div>
	<div class="col-lg-4">
		<div class="alert alert-success">
			It takes seconds to save info that would take you hours if you forget.
		</div>
	</div>
	<div class="col-lg-4">
		<div class="alert alert-danger">
			So don't wait. <br> Start nottying with our app!
		</div>
	</div>
</div>

<br><br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-6">
			<blockquote>
				<p>The smart writes, the stupid tries to remember.</p>
				<small>Old folk proverb</small>
			</blockquote>
		</div>
		<div class="col-lg-6">
			<blockquote class="blockquote-reverse">
				<p>There wouldn't be paper, hardrives and memory if people could remember everything.</p>
				<small>Technology</small>
			</blockquote>
		</div>
	</div>
</div>

<br><br>
<div class="row">
	<div class="col-lg-4" id="advantages-container">
		<h2>Why you should choose Notty?</h2>
		<hr>
		<p class="text-primary">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It is easy to use.
		</p>
		<p class="text-success">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It will awlays remind you.
		</p>
		<p class="text-info">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It will let you set your priorities.
		</p>
		<p class="text-danger">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It's functionality is free.
		</p>
		<p class="text-warning">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			You don't want to get tired right?
			<i class="fa fa-arrow-circle-o-right fa-lg"></i>
		</p>
	</div>
	<div class="col-lg-8">
		<canvas id="doughnut-container" height="295" width="500"></canvas>
	</div>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
	<br><br><br><br>
	<div class="row">
		<div class="col-md-12 buttons-heading">
			<h1>If you like the idea, you can: </h1>
		</div>
	</div>
		<div class="row">
			<div class="col-md-12 join-buttons">
				<a class="button login-btn" href="/account/login">Sign in</a>
				<a class="button register-btn" href="/account/register">Register</a>
			</div>
		</div>
}