@{
	ViewBag.Title = "Home";
}

@section styles {
	<link rel="stylesheet" href="~/css/home.css">
}

<br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><b>Stop</b> forgetting.<br/><b>Start</b> nottying!</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="alert alert-primary" style="background: #2780e3;color: white;">
			We <b><span style="color:black">all</span></b> forget. <br> Thats why you can take your notes.
		</div>
	</div>
	<div class="col-lg-4">
		<div class="alert alert-success">
			It takes seconds to save info that would take you hours if you forget.
		</div>
	</div>
	<div class="col-lg-4">
		<div class="alert alert-danger">
			So don't wait. <br> Start nottying with our app!
		</div>
	</div>
</div>

<br><br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-6">
			<blockquote>
				<p>The smart writes, the stupid tries to remember.</p>
				<small>Old folk proverb</small>
			</blockquote>
		</div>
		<div class="col-lg-6">
			<blockquote class="blockquote-reverse">
				<p>There wouldn't be paper, hardrives and memory if people could remember everything.</p>
				<small>Technology</small>
			</blockquote>
		</div>	
	</div>
</div>

<br><br>
<div class="row">
	<div class="col-lg-4">
		<h2>Why you should choose Notty?</h2>
		<p class="text-primary">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It is easy to use.
		</p>
		<p class="text-success">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			It will awlays remind you.
		</p>
		<p class="text-info">
			<i class="fa fa-angle-double-right"></i>&nbsp;
			
		</p>
		<!--<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
		<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
		<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
		<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>-->
	</div>
	<div class="col-lg-8">

	</div>
</div>